/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
	color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
	color: #333;
	text-shadow: none; /* Prevent inheritence from `body` */
	background-color: #fff;
	border: 1px solid #fff;
}

/*
 * Base structure
 */

html,
body {
	height: 100%;
	width: 100%;
	background-color: #333;
	overflow: hidden;
}

body {
	color: #fff;
	text-shadow: 0 1px 3px rgba(0, 0, 0, .5);
	background-color: #333;
	-webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
	box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
	overflow-y: auto;
}

.front {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;
	position: fixed;
	text-align: center;
	margin-top: 20px;
	background-color: #333;
	-webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
	box-shadow: inset 0 0 100px rgba(0, 0, 0, .5);
}

.site-wrapper {
	display: table;
	width: 100%;
	height: 80%;
	min-height: 80%;
}

.site-wrapper-inner {
	display: table-cell;
	vertical-align: middle;
}

.inner {
	padding: 30px;
}

.masthead {
	position: relative;
	width: 100%;
	padding-left: 18px;
}

/*
 * Header
 */
.masthead-brand {
	/*float: left;*/
}

.masthead-nav {
	margin-bottom: 15px;
}

.masthead-nav > li {
	display: inline-block;
	margin-right: 15px;
}

a .zeroclipboard-is-hover i:hover {
	color: #ececec;
}

.masthead-nav > li > a {
	transition: all 0.2s linear;
	padding: 4px 0 3px;
	font-size: 10px;
	font-weight: bold;
	color: #fff; /* IE8 proofing */
	color: rgba(255, 255, 255, .75);
	border-bottom: 2px solid transparent;
}

.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
	outline: 0;
	transform: scale(1.1);
	background-color: transparent;
	border-bottom-color: #a9a9a9;
	border-bottom-color: rgba(255, 255, 255, .25);
}

.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
	transform: scale(1.2);
	color: #fff;
	border-bottom-color: #fff;
}

/*
 * Affix and center
 */

@media (min-width: 100px) {
	.masthead-nav {
		text-align: center;
	}
}

@media (min-width: 400px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {

	.masthead-nav {
		text-align: left;
	}
}

.border {
	margin-top: 10px;
	padding: 10px 0;

	border: solid #a1a1a1 1px;
	border-radius: 3px;
}

#input {
	width: 100%;
	color: #000;
	/*font-family: "Times New Roman";*/
}

#output {
	width: 100%;
	color: #000;
	/*font-family: "Times New Roman";*/
}

.inputs {
	text-align: left;
	margin-bottom: 20px;
}

.options-wrapper {
	height: 100px;
	min-height: 100px;
}

.options {
	text-align: left;
}

.options-label {
	position: absolute;
	top: -20px;
	background-color: rgba(46, 46, 46, 0.80);
}

.toast {
	position: fixed;
	bottom: 10px;
	right: 10px;
	display: none;
}

.logo {
	height: 44px;
}

.preview {
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.preview .preview-text {
	border-top: 1px solid #dddddd;
	width: 100%;
	word-break: break-all;
	z-index: 100;
}

.preview-options-wrapper {
	border-top :1px solid #dddddd;
}

textarea {
	z-index: 100;
}

.jslider .jslider-bg i,
.jslider .jslider-pointer {
	background: url(../../../assets/img/jslider.round.plastic.png) no-repeat 0 0;
}

.jslider {
	display: block;
	margin-top: 8px;
	width: 100%;
	height: 1em;
	position: relative;
	top: 0.6em;
	font-family: Arial, sans-serif;
}

.jslider table {
	width: 100%;
	border-collapse: collapse;
	border: 0;
}

.jslider td, .jslider th {
	padding: 0;
	vertical-align: top;
	text-align: left;
	border: 0;
}

.jslider table,
.jslider table tr,
.jslider table tr td {
	width: 100%;
	vertical-align: top;
}

.jslider .jslider-bg {
	position: relative;
}

.jslider .jslider-bg i {
	height: 5px;
	position: absolute;
	font-size: 0;
	top: 0;
}

.jslider .jslider-bg .l {
	width: 10%;
	background-position: 0 0;
	left: 0;
}

.jslider .jslider-bg .f {
	width: 80%;
	left: 10%;
	background-repeat: repeat-x;
	background-position: 0 -20px;
}

.jslider .jslider-bg .r {
	width: 10%;
	left: 90%;
	background-position: right 0;
}

.jslider .jslider-bg .v {
	position: absolute;
	width: 60%;
	left: 20%;
	top: 0;
	height: 5px;
	background-repeat: repeat-x;
	background-position: 0 -40px;
}

.jslider .jslider-pointer {
	width: 13px;
	height: 15px;
	background-position: 0 -60px;
	position: absolute;
	left: 20%;
	top: -4px;
	margin-left: -6px;
	cursor: pointer;
	cursor: hand;
}

.jslider .jslider-pointer {
	width: 17px;
	height: 17px;
	top: -6px;
	margin-left: -8px;
}

.jslider .jslider-pointer-hover {
	background-position: -20px -60px;
}

.jslider .jslider-pointer-to {
	left: 80%;
}

.jslider .jslider-label {
	font-size: 9px;
	line-height: 12px;
	color: #f1f6f4;
	opacity: 0.4;
	white-space: nowrap;
	padding: 0px 2px;
	position: absolute;
	top: -18px;
	left: 0px;
}

.jslider .jslider-label-to {
	left: auto;
	right: 0;
}

.jslider .jslider-value {
	font-size: 9px;
	white-space: nowrap;
	padding: 1px 2px 0;
	position: absolute;
	top: -19px;
	left: 20%;
	/*background: #2e2e2e;*/
	line-height: 12px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

.jslider .jslider-value-to {
	left: 80%;
}

.jslider .jslider-label small,
.jslider .jslider-value small {
	position: relative;
	top: -0.4em;
}

.jslider .jslider-scale {
	position: relative;
	top: 9px;
}

.jslider .jslider-scale span {
	position: absolute;
	height: 5px;
	border-left: 1px solid #999;
	font-size: 0;
}

.jslider .jslider-scale ins {
	font-size: 9px;
	text-decoration: none;
	position: absolute;
	left: 0px;
	top: 5px;
	color: #999;
}

.jslider-single .jslider-pointer-to,
.jslider-single .jslider-value-to,
.jslider-single .jslider-bg .v,
.jslider-limitless .jslider-label {
	display: none;
}


.navbar-brand {
	padding-top: 4px;
}

#navbar {
	margin-right: 40px;
}