<div class="row">
	<div class="col-md-offset-1 col-md-10">
		<div class="row">
			<div class="col-md-12">
				<ul class="nav masthead-nav">
					<li ng-repeat="m in typefaces" ng-class="{active:typeface.name==m.name}"><a href ng-click="selectTypeface(m)">{{m.name}}</a></li>
				</ul>
			</div>
		</div>

		<div class="row inputs">
			<div class="col-md-6">
				<div morphinput title="{{typeface.input}}" value="input"/>
			</div>
			<div class="col-md-6">
				<label for="output">
					<small>Output</small>
				</label>
				<textarea id="output" class="form-control" rows="10" ng-model="output"></textarea>
				<small>Length: {{output.length}}</small>
				<a href="" title="Copy to clipboard" class="pull-right" clip-click-fallback="fallback(copy)" clip-copy="output" clip-click="copyClick()"><i class="glyphicon glyphicon-book"></i></a>
			</div>
		</div>
		<div class="options-wrapper" ng-include src="'assets/partials/typeface_options.html'"></div>
	</div>
</div>
