<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="Morph" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="Morph" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="Morph" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="Morph" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Unicode Morph</title>
	<meta name="description" content="Morph text with unicode typefaces">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@ffalt">
	<meta name="twitter:url" content="http://ffalt.github.io/morph/">
	<meta name="twitter:title" content="Unicode Morph">
	<meta name="twitter:description" content="Morph text with unicode typefaces">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="../assets/img/favicon.ico">

	<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/app.css">

	<script src="../assets/js/jquery.min.js"></script>
	<script src="../assets/js/bootstrap.min.js"></script>
	<script src="../assets/js/angular.min.js"></script>
	<script src="../assets/js/angular-sanitize.min.js"></script>
	<script src="../assets/js/angular-ui-router.min.js"></script>
	<script src="../assets/js/ng-slider.min.js"></script>
	<script src="../assets/js/ZeroClipboard.min.js"></script>
	<script src="../assets/js/ng-clip.min.js"></script>
	<script src="assets/js/lunicode.js"></script>
	<script src="assets/js/data.js"></script>
	<script src="assets/js/app.js"></script>
	<!--[if lt IE 9]>
	<script src="../assets/js/html5shiv.min.js"></script>
	<script src="../assets/js/respond.min.js"></script>
	<![endif]-->
</head>
<body ng-controller="AppCtrl">

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="../index.html"><img class="logo" src="../assets/img/logo.png"> ʇlɐɟɟ गरम मसाला - Morph</a>
	</div>
	<div id="navbar" class="navbar-collapse collapse">
		<ul class="nav navbar-nav navbar-right">
			<li ui-sref-active="active"><a href ui-sref="typeface">Typeface</a></li>
			<li ui-sref-active="active"><a href ui-sref="typefaces">All Typefaces</a></li>
			<li ui-sref-active="active"><a href ui-sref="tool">Tool</a></li>
		</ul>
	</div>
</nav>

<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<noscript>
	<div class="front" ng-if="!loaded"><span>Ya sorry, traveller. This thing needs javascript!</span></div>
</noscript>
<div class="site-wrapper">
	<div class="site-wrapper-inner" ui-view>
	</div>
	<div class="toast alert alert-success alert-dismissable" ng-click="hideToast()">
		<button class="close" type="button">×</button>
		<span ng-bind="toast"></span>
	</div>
</div>

<script type="text/ng-template" id="assets/partials/input.html">
	<label for="input">
		<small>Input: <span ng-bind="title"></span></small>
	</label>
	<textarea id="input" class="form-control" rows="10" ng-model="value" ng-change="inputChange()"></textarea>
	<small>Length: <span ng-bind="value.length"></span></small>
	<a href="" title="Clear" class="pull-right" ng-click="clear()"><i class="glyphicon glyphicon-trash"></i></a>
</script>

<script type="text/ng-template" id="assets/partials/options_offset.html">
	<div class="col-md-12">
		<div class="options-label">Font</div>
		<label ng-if="typeface.options.hasBold">
			<input id="font_opt_bold" type="checkbox" ng-model="typeface.options.bold" ng-click="inputChange()"> Bold
		</label>
		<br ng-if="typeface.options.hasItalic && typeface.options.hasBold"/>
		<label ng-if="typeface.options.hasItalic">
			<input id="font_opt_italic" type="checkbox" ng-model="typeface.options.italic" ng-click="inputChange()"> Italic
		</label>
	</div>
</script>

<script type="text/ng-template" id="assets/partials/options_zalgo.html">
	<div class="col-md-3">
		<!--<div class="options-label">Zalgo</div>-->
		<label>
			<input id="zalgo_opt_up" type="checkbox" ng-model="typeface.options.up" ng-click="inputChange()"> fuck up going up
		</label>
		<input id="zalgo_opt_up_slide" ng-model="typeface.options.num_up" type="text" slider options="{from:0,to:20,step:1,smooth:false}" ng-change="inputChange()"/>
	</div>
	<div class="col-md-3">
		<label>
			<input id="zalgo_opt_mid" type="checkbox" ng-model="typeface.options.mid" ng-click="inputChange()"> fuck up the middle
		</label>
		<input id="zalgo_opt_mid_slide" ng-model="typeface.options.num_mid" type="text" slider options="{from:0,to:20,step:1,smooth:false}" ng-change="inputChange()"/>
	</div>
	<div class="col-md-3">
		<label>
			<input id="zalgo_opt_down" type="checkbox" ng-model="typeface.options.down" ng-click="inputChange()"> fuck up going down
		</label>
		<input id="zalgo_opt_down_slide" ng-model="typeface.options.num_down" type="text" slider options="{from:0,to:20,step:1,smooth:false}" ng-change="inputChange()"/>
	</div>
	<div class="col-md-3">
		<div ng-repeat="mode in typeface.options.modes"><a href ng-click="typeface.options.zalgo_random(mode,typeface.options);inputChange()"><span ng-bind="mode"></span> fuck up</a></div>
	</div>
</script>

<script type="text/ng-template" id="assets/partials/tools.html">
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<div class="row">
				<div class="col-md-12">
					<ul class="nav masthead-nav">
						<li ng-repeat="m in tools" ng-class="{active:tool.name==m.name}"><a href ng-click="selectTool(m)" ng-bind="m.name"></a></li>
					</ul>
				</div>
			</div>
			<div class="row inputs">
				<div class="col-md-6">
					<div morphinput title="{{tool.input}}" value="input"/>
				</div>
				<div class="col-md-6">
					<label for="output">
						<small>Output</small>
					</label>
					<textarea id="output" class="form-control" rows="10" ng-model="output"></textarea>
					<small>Length: <span ng-bind="output.length"></span></small>
					<a href="" title="Copy to clipboard" class="pull-right" clip-click-fallback="fallback(copy)" clip-copy="output" clip-click="copyClick()"><i class="glyphicon glyphicon-book"></i></a>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="assets/partials/typeface.html">
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<div class="row">
				<div class="col-md-12">
					<ul class="nav masthead-nav">
						<li ng-repeat="m in typefaces" ng-class="{active:typeface.name==m.name}"><a href ng-click="selectTypeface(m)" ng-bind="m.name"></a></li>
					</ul>
				</div>
			</div>

			<div class="row inputs">
				<div class="col-md-6">
					<div morphinput title="{{typeface.input}}" value="input"/>
				</div>
				<div class="col-md-6">
					<label for="output">
						<small>Output</small>
					</label>
					<textarea id="output" class="form-control" rows="10" ng-model="output"></textarea>
					<small>Length: <span ng-bind="output.length"></span></small>
					<a href="" title="Copy to clipboard" class="pull-right" clip-click-fallback="fallback(copy)" clip-copy="output" clip-click="copyClick()"><i class="glyphicon glyphicon-book"></i></a>
				</div>
			</div>
			<div class="options-wrapper" ng-include src="'assets/partials/typeface_options.html'"></div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="assets/partials/typeface_options.html">
	<div ng-if="typeface.options.template" class="row options border" ng-include src="typeface.options.template">
	</div>
	<div ng-if="typeface.info" class="row links">
		<div class="col-md-12">
			<small>
				Info: <a target="_blank" ng-href="{{typeface.info.link}}" ng-bind="typeface.info.name"></a>
			</small>
		</div>
	</div>
</script>

<script type="text/ng-template" id="assets/partials/typefaces.html">
	<div class="row">
		<div class="col-md-offset-1 col-md-10">
			<div class="row inputs">
				<div class="col-md-12">
					<div morphinput title="{{typeface.input}}" value="input" />
				</div>
			</div>
		</div>
	</div>
	<div class="row preview" ng-repeat="typeface in typefaces">
		<div class="col-md-offset-1 col-md-10">
			<span ng-bind="typeface.name"></span>
			<div class="pull-right">
				<small>Length: <span ng-bind="typeface.preview.length"></span></small>&nbsp;
				<a href="" title="Copy to clipboard" class="pull-right" clip-click-fallback="fallback(copy)" clip-copy="typeface.preview" clip-click="copyClick()"><i class="glyphicon glyphicon-book"></i></a>
			</div>
			<br/>
			<div class="preview-text" ng-bind-html="typeface.preview | linebreak"></div>
			<div class="preview-options-wrapper" ng-include src="'assets/partials/typeface_options.html'"></div>
		</div>
	</div>
</script>

</body>
</html>
